.Main-Body__Content>.pagination {
    position: fixed;
    bottom: 5%;
    left: 50%;
    right: 50%;
    align-items: center;
}

.Main-Body__Content>.pagination>.page-item {
    box-shadow: 0 0 12px 0 var(--shadow);
}

.Main-Body__Content>.pagination>.page-item>.page-link {
    margin: 0;
}

.Main-Body__Content>.pagination>.page-item.disabled>.page-link {
    background-color: var(--primary);
    color: var(--white);
}