.Loader-Wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Loader {
    color: var(--primary) !important;
    height: 4rem;
    width: 4rem;
}