/********************************* */
/** COMMIT LIST                    *
/********************************* */
.collapse,
.collapse.show,
.collapsing {
    background-color: var(--commit-list);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/********************************* */
/** COMMIT CARD                    *
/********************************* */
.Commit-List>.Commit-Card {
    text-align: left;
    font-size: 14px;
    padding: .5rem 1rem;
    transition: .2s;
}

.Commit-List>.Commit-Card:hover {
    background-color: var(--highlight-light);
}

.Commit-List>.Commit-Card:hover .Commit-Footer>p {
    color: var(--secondary);
}

.Commit-History {
    padding: .5rem;
}

.Commit-History button.btn {
    border: 1px solid var(--primary);
}

.Commit-List>.Commit-Card:not(:last-child) {
    border-bottom: 1px solid var(--tertiary);
}

.Commit-List>.Commit-Card>.Commit-Body {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.Commit-List>.Commit-Card>.Commit-Body .username {
    color: var(--primary);
    font-weight: 600;
    margin-right: .5rem;
}

.Commit-List>.Commit-Card>.Commit-Body p {
    margin: 0;
}

.Commit-List>.Commit-Card>.Commit-Header {
    text-align: left;
    font-weight: bold;
}

.Commit-List>.Commit-Card>.Commit-Body>.Commit-Body__Left {
    margin-right: 1rem;
}

.Commit-List>.Commit-Card img {
    border-radius: 100%;
    width: 2rem;
}

.Commit-List>.Commit-Card>.Commit-Footer {
    font-size: x-small;
    text-align: start;
}

.Commit-List>.Commit-Card>.Commit-Body p,
.Commit-List>.Commit-Card>.Commit-Footer {
    font-style: italic;
}

.Commit-List>.Commit-Card>.Commit-Footer>p {
    color: var(--shadow);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {

    .Commit-List>.Commit-Card {
        padding: 1rem 3rem;
    }

    .Commit-List>.Commit-Card>.Commit-Body {
        font-size: 16px;
    }

    .Commit-List>.Commit-Card>.Commit-Body>.Commit-Body__Left>img {
        width: 3rem;
    }

    .Commit-List>.Commit-Card>.Commit-Footer {
        font-size: 14px;
        text-align: end;
    }
}