/********************************* */
/** COMMIT LIST                    *
/********************************* */
.collapse,
.collapse.show,
.collapsing {
    background-color: #444444;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/********************************* */
/** COMMIT CARD                    *
/********************************* */
.Commit-List>.Commit-Card {
    text-align: left;
    font-size: 14px;
    padding: .5rem 1rem;
}

.Commit-History {
    padding: .5rem;
}

.Commit-History button.btn {
    border: 1px solid var(--primary);
}

.Commit-List>.Commit-Card:not(:last-child) {
    border-bottom: 1px solid var(--tertiary);
}

.Commit-List>.Commit-Card>.Commit-Body {
    display: flex;
    align-items: baseline;
}

.Commit-List>.Commit-Card>.Commit-Body span.username {
    color: var(--primary);
    font-weight: 600;
    margin-right: .5rem;
}

.Commit-List>.Commit-Card>.Commit-Header {
    text-align: left;
    font-weight: 800;
}

.Commit-List>.Commit-Card>.Commit-Body>.Commit-Body__Left {
    margin-right: 1rem;
}

.Commit-List>.Commit-Card img {
    border-radius: 100%;
    width: 2rem;
}

.Commit-List>.Commit-Card>.Commit-Footer {
    font-size: x-small;
    text-align: end;
}

.Commit-List>.Commit-Card>.Commit-Body p,
.Commit-List>.Commit-Card>.Commit-Footer {
    font-style: italic;
}

.Commit-List>.Commit-Card>.Commit-Footer>p {
    color: #bebebe;
}