/********************************* */
/** REPO LIST                      *
/********************************* */
.Repo-List {
    width: 80%;
    margin: auto;
}

/********************************* */
/** REPO CARD                      *
/********************************* */
.Repo-List>.Repo-Card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 var(--shadow);
    transition: .2s;
}

.Repo-List>.Repo-Card:hover {
    box-shadow: 0 0 8px 0 var(--highlight);
}

.Repo-List>.Repo-Card:hover svg {
    color: var(--highlight);
}

.Repo-List>.Repo-Card>.Repo-Card__Content {
    padding: 1rem 1rem 0 1rem;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Header>.Repo-Card__Title {
    text-transform: uppercase;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Stars,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Forks,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer {
    display: flex;
    justify-content: space-between;
}

.Repo-List>.Repo-Card>.Repo-Card__Footer {
    font-size: small;
}

.Repo-List>.Repo-Card>.Repo-Card__Footer p {
    margin-bottom: 0;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Stats>p,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons p,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--tertiary);
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Stars svg {
    margin-top: 4px;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Forks svg {
    margin-top: 3px;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons svg {
    margin-right: .5rem;
}