/********************************* */
/** REPO LIST                      *
/********************************* */
.Repo-List {
    width: 80%;
    margin: auto;
}

/********************************* */
/** REPO CARD                      *
/********************************* */
.Repo-List,
.Repo-Card,
.Repo-Card__Content,
.Repo-Card__Footer,
.Repo-Card__Icons,
.Repo-Card__Stars,
.Repo-Card__Forks,
svg {
    transition: .2s;
}

.Repo-List>.Repo-Card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 var(--shadow);
    max-width: 840px;
}

.Repo-List>.Repo-Card>.Repo-Card__Content {
    padding: 1rem 1rem 0 1rem;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Header>.Repo-Card__Title {
    text-transform: uppercase;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Stars,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Forks,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer {
    display: flex;
    justify-content: space-between;
}

.Repo-List>.Repo-Card>.Repo-Card__Footer {
    font-size: small;
}

.Repo-List>.Repo-Card>.Repo-Card__Footer p {
    margin-bottom: 0;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Stats>p,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons p,
.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--tertiary);
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Stars svg {
    margin-top: 4px;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons>.Repo-Card__Forks svg {
    margin-top: 3px;
}

.Repo-List>.Repo-Card>.Repo-Card__Content>.Repo-Card__Footer>.Repo-Card__Icons svg {
    margin-right: .5rem;
}

.Repo-List>.Repo-Card>.Repo-Card__Commit-Toggle button.btn {
    margin-bottom: 1rem;
}

/********************************* */
/** REPO CARD :hover               *
/********************************* */
.Repo-List>.Repo-Card:hover {
    box-shadow: 0 0 8px 0 var(--highlight);
}

.Repo-List>.Repo-Card:hover .Repo-Card__Header {
    font-weight: 500;
}

.Repo-List>.Repo-Card:hover .Repo-Card__Icons svg {
    fill: var(--primary);
}

.Repo-List>.Repo-Card:hover .Repo-Card__Content>.Repo-Card__Footer p {
    color: var(--primary);
}

.Repo-List>.Repo-Card>.Repo-Card__Commit-Toggle button:hover,
.Repo-List>.Repo-Card>.Repo-Card__Commit-Toggle button:focus,
.Repo-List>.Repo-Card>.Repo-Card__Commit-Toggle button:active {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
}

.Repo-Card__Commit-Toggle button.btn:hover svg.bi-clock-history,
.Repo-Card__Commit-Toggle button.btn:active svg.bi-clock-history,
.Repo-Card__Commit-Toggle button.btn:focus svg.bi-clock-history {
    fill: var(--white);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    .Repo-List>.Repo-Card>.Repo-Card__Content {
        padding: 1rem 3rem 0 3rem;
    }
}