/********************************* */
/** REPO LIST                      *
/********************************* */
.Repo-List {
    width: 80%;
    margin: auto;
}

/********************************* */
/** REPO CARD                      *
/********************************* */
.Repo-List>.Repo-Card {
    padding: 1rem;
    margin-bottom: 2.5rem;
    background-color: var(--bg-secondary);
}

.Repo-List>.Repo-Card>.Repo-Title {
    text-transform: capitalize;
}