@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary: #E50A13;
  --secondary: #222222;
  --tertiary: #949494;
  --bg-primary: #eeeeee;
  --bg-secondary: #303030;
  --white: #fff;
  --commit-list: rgb(235, 235, 235);
  --highlight: #ffce52;
  --shadow: #777;
}

body {
  background-color: var(--bg-primary);
}

p,
svg {
  color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
}

.Main-Body {
  display: flex;
}

.Main-Body__Content {
  margin-top: 12vh;
  margin-right: auto;
  margin-left: auto;
}

.error {
  font-size: 1rem;
  font-style: italic;
  color: var(--secondary);
  margin: auto;
  width: 90%;
  max-width: 500px;
}