.Main-Header {
    background-color: var(--bg-secondary);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 0 var(--shadow);
    z-index: 9999;
    padding: 1rem;
}

.Brand {
    display: none;
    position: absolute;
    margin-bottom: 0;
    left: 5%;
}

.Brand>.Brand-Title {
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 20px;
    margin-bottom: 0;
}

.Brand>.Brand-Title.device-xs {
    font-size: 14px;
}

.Brand>.Brand-Title.device-s {
    display: none;
}

.Brand svg {
    fill: var(--primary);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5rem;
}

h2.organization {
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    overflow-wrap: break-word;
}

.Main-Header img {
    display: none;
    height: 36px;
    position: absolute;
    border-radius: 100%;
    object-fit: cover;
}

.Main-Header__Center {
    position: relative;
    display: flex;
    margin-right: auto;
    margin-left: 0;
}

.Organization-Form {
    flex-flow: nowrap;

}

.Organization-Form>.input-group input,
.Organization-Form button {
    height: 1.75rem;
}

.Organization-Form>.input-group>input.form-control {
    width: 60%;
}

.Organization-Form button {
    padding-top: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {

    .Main-Header img {
        display: block;
    }

    .Main-Header__Center>.organization {
        margin-left: 3rem;
    }

    .Organization-Form {
        position: absolute;
        right: 5%;
        top: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .Brand {
        display: flex;
    }

    .Main-Header img {
        display: block;
        left: -3rem;
    }

    .Main-Header__Center>.organization {
        margin-left: 0;
    }

    .Main-Header__Center {
        margin-left: auto;
    }

    .Brand>.Brand-Title.device-s {
        display: block;
    }

    .Organization-Form>.input-group>input.form-control {
        width: 70%;
        transition: .2s;
    }
}